[submodule "submodules/GoalAgent"]
	path = submodules/GoalAgent
	url = git@github.com:YujieLu10/GoalAgent.git
[submodule "submodules/stablediffusion"]
	path = submodules/stablediffusion
	url = git@github.com:YujieLu10/stablediffusion.git
[submodule "submodules/OFA"]
	path = submodules/OFA
	url = https://github.com/OFA-Sys/OFA
[submodule "submodules/BLIP"]
	path = submodules/BLIP
	url = git@github.com:salesforce/BLIP.git
[submodule "submodules/OFA-base"]
	path = submodules/OFA-base
	url = https://huggingface.co/OFA-Sys/OFA-base
